.nav__wrapper {
  display: flex;
  max-width: 960px;
  margin: 0 auto;
  flex-flow: row wrap;
  justify-content: space-between;
}

.footer__wrapper {
  display: flex;
  max-width: 960px;
  margin: 0 auto;
  flex-flow: row wrap;
  justify-content: space-between;
}

.news-block {
  max-width: 960px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 3rem;
}

.news__wrapper {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  align-content: space-between;
}