/* Colors
    ========================================================================== */

$color-primary: hsl(218, 48%, 29%);
$color-secondary: hsl(46, 95%, 59%);

$color-primary-sub: hsl(218, 48%, 60%);
$color-secondary-sub: hsl(36, 87%, 54);

$color-white: hsl(0, 0%, 95%);
$color-black: hsl(0, 0%, 11%);
$color-light-grey: hsl(0, 0%, 69%);
$color-grey: hsl(0, 0%, 42%);
$color-dark-grey: hsl(0, 0%, 28%);


/* Typography
    ========================================================================== */

$base-line-height: normal;
$base-font-weight: 400;
$base-font-family: "Muli", Helvetica, Arial, sans-serif;

$headings-line-height: normal;
$headings-font-weight: 600;
$headings-font-family: "Montserrat", Helvetica, Arial, sans-serif;


/* Animations
   ========================================================================== */

$duration-long: 375ms;
$duration-mid: 230ms;
$duration-short: 150ms;
// Open / Close or Fade in / out: First longer than last (eg: in 250ms, out 200ms) 

$standard-easing: cubic-bezier(0.4, 0.0, 0.2, 1);
$deceleration-easing: cubic-bezier(0.0, 0.0, 0.2, 1);
$acceleration-easing: cubic-bezier(0.4, 0.0, 1, 1);
// $sharp-easing: cubic-bezier(0.4, 0.0, 0.6, 1);


/* Other
   ========================================================================== */

// $shadow: 1px 2px 8px 1px rgba(0, 0, 0, 0.08);
$shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
$border-radius: 0.2rem;

$mobile: 768px;
$tablet: 992px;
$screen: 1200px;

$mobile-padding: 1rem;