/* Colors
    ========================================================================== */

$color-primary: #27426F; 
$color-secondary: #FACC33;

$color-primary-sub: #6A8ECA;
$color-secondary-sub: #F09E23;

$color-white: #F2F2F2;
$color-black: #1B1B1B;
$color-light-grey: #B1B1B1;
$color-grey: #808080;
$color-dark-grey: #333333;


/* Typography
    ========================================================================== */

$base-line-height: normal;
$base-font-weight: 400;
$base-font-family: "Muli", Helvetica, Arial, sans-serif;

$headings-line-height: normal;
$headings-font-weight: 600;
$headings-font-family: "Montserrat", Helvetica, Arial, sans-serif;


/* Animations
   ========================================================================== */

$duration-long: 375ms;
$duration-mid: 225ms;
$duration-short: 195ms;

$standard-easing: cubic-bezier(0.4, 0.0, 0.2, 1);
$deceleration-easing: cubic-bezier(0.0, 0.0, 0.2, 1);
$acceleration-easing: cubic-bezier(0.4, 0.0, 1, 1);
$sharp-easing: cubic-bezier(0.4, 0.0, 0.6, 1);


/* Other
   ========================================================================== */

$shadow: 1px 2px 8px 1px rgba(0, 0, 0, 0.08);
$border-radius: 0.5rem;

$mobile: 768px;
$tablet: 992px;
$screen: 1200px;