/* Imports
   ========================================================================== */

@import 'partials/vars';
@import 'partials/layout';
@import 'partials/scrollbar';
@import 'partials/forms';
@import 'partials/typography';


/* Miscellaneous
   ========================================================================== */

body {
  max-width: 100vw;
  min-height: 100vh;
  color: $color-white;
  background: $color-black;
  overflow-x: hidden;
  overflow-y: auto;
}

// Navigation
.nav {
  position: relative;
  background-color: $color-white;
  height: 60px;
  border-bottom-left-radius: .8rem;
  border-bottom-right-radius: .8rem;
  color: $color-primary;
  z-index: 2;
}

.nav__wrapper {
  height: 60px;
}

.nav__logo {
  line-height: 60px;
}

.nav__list {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
}

.nav__item {
    list-style: none;
}


.nav__item {
    margin-left: 20px;
}

.nav__item--first {
  margin-left: 0;
}


.nav__link {
  text-decoration: none;
}

// Fake View
.news-block {
  z-index: 1;
  margin-top: -0.8rem;
  padding: 3.2rem 0 1.6rem 0;
  background: linear-gradient($color-primary, $color-primary-sub);
  overflow-y: hidden;
  // position: relative;
}

.parallax {
  mix-blend-mode: multiply;
  opacity: 0.35;
}

.fakeView__box {
  z-index: 2;
  height: 300px;
  background-color: $color-white;
  border-radius: 1.6rem;
  position: relative;
  margin-top: -1.6rem;
  padding-top: 1.6rem;
}

// News Component
.news {
  background-color: $color-secondary;
  color: $color-black;
  border-radius: 0.8rem;
  margin-bottom: 3rem;
}

.news__img {
  width: 100%;
  height: 16rem;
  object-fit: cover;
  object-position: center;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
}

.news__wrapper {
  padding: 1.5rem 3rem;
  text-align: center;
}

.news__wrapper > * {
  flex-grow: 1;
}

.news__heading {
  margin-bottom: 3rem;
}

// Footer
.footer {
  z-index: 1;
  height: 120px;
  background: $color-secondary;
  margin-top: -1.6rem;
}

.footer__wrapper {
  display: flex;
  align-items: center;
  height: 120px;
}

.footer__wrapper * {
  margin: 0;
  margin-top: 1.6rem;
  color: $color-black;
}

.footer__list {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
}

.footer__item {
    list-style: none;
}

.footer__item {
    margin-left: 20px;
}

.footer__item--first {
  margin-left: 0;
}