/* Imports
   ========================================================================== */

@import 'partials/vars';
@import 'partials/layout';
@import 'partials/scrollbar';
@import 'partials/forms';
@import 'partials/typography';


/* Miscellaneous
   ========================================================================== */

body {
  max-width: 100vw;
  min-height: 100vh;
  background-color: $color-white;
  color: $color-black;
  overflow-x: hidden;
  overflow-y: auto;
}


// Navigation
#nprogress .bar {
  background: $color-primary-sub;
}

.nav {
  background-color: $color-white;
  color: $color-primary;
}

.nav__wrapper {
  height: 4rem;
}

.nav__logo {
  responsive-font-size: 1.9rem;
  margin: 0;
  letter-spacing: -1px;
}

.nav__logo > .nav__link {
  color: $color-primary;
  responsive-font-size: 2rem;
}

.nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav__item {
    display: inline-block;
    // list-style: none;
    // margin-left: 20px;
    // height: 4rem;
    // &:hover {
    //   border-bottom: 2px solid $color-primary;
    //   color: $color-primary;
    // }
    // color: $color-grey;
    // // transition: all $duration-short $standard-easing;
}

// .nav__item--first {
//   margin-left: 0;
// }


.nav__link {
  text-decoration: none;
  line-height: 4rem;
  display: inline-block;
  position: relative;
  padding: 0 1rem;
  color: $color-dark-grey;
  responsive-font-size: 1.2rem;
}

.nav__link--active {
  color: $color-primary;
}

.nav__link--active > .nav__link__indicator {
  transform: scaleY(1);
} 

.nav__link__indicator {
  transform: scaleY(0);
  position: absolute;
  // height: 4px;
  height: 0.2rem;
  transform-origin: bottom;
  bottom: 0;
  left: 16px;
  right: 16px;
  background-color: $color-primary;
  transition: transform $duration-mid $standard-easing;
}

// .nav__link--active > .nav__item  {
//   border-bottom: 2px solid #27426f;
// }


// Home View

.home-view {
  position: relative;
  overflow: hidden;
}

.Masthead__image > img {
  object-position: left !important;
}

// News Component
.news {
  background-color: $color-secondary;
  border-radius: $border-radius;
  margin-bottom: 1rem;
  @media (min-width: $tablet) {
    margin-bottom: 3rem;
  }
}

.news:not(:first-of-type) {
  margin: 0;
}

.news__img {
  width: 100%;
  height: 16rem !important;
  object-fit: cover;
  object-position: center;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
}

.news__wrapper {
  padding: 1.5rem 3rem;
  text-align: center;
}

.news__wrapper > * {
  flex-grow: 1;
}

.news__heading {
  margin-bottom: 2rem;
  text-decoration: none;
}

.news__heading > h3 {
  margin: 0;
}

.news__img-link {
  display: block;
  height: 16rem;
}

.news__meta-data {
  margin: 0;
}


// Article

.article-text img {
  display: block;
  width: 100%;
  height: auto;
}

.article-hero__inner {
  color: $color-white;
  text-align: center;
}

.article-hero .Masthead {
  .Masthead__image img {
    mix-blend-mode: multiply;
    object-position: center !important;
    margin-top: -33.3vh;
    opacity: 0.35;
  }
  .Masthead__image {
    background: linear-gradient($color-secondary, $color-secondary-sub);
  }
}

.spinner {
  height: 100%;
  background-color: $color-white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

.app-spinner-wrapper {
  display: grid;
  grid-template-rows: 0 4rem calc(100vh - 12rem) 8rem;
}


// Footer
.footer {
  height: 8rem;
  background: $color-secondary;
}

.footer__wrapper * {
  margin: 0;
  display: flex;
  align-items: center;
}

.footer__list {
  // height: 100%;
  margin: 0;
  padding: 0;
}

.footer__item {
    list-style: none;
}

.footer__item {
    margin-left: 20px;
}

.footer__item--first {
  margin-left: 0;
}


// -> https://medium.com/refactoring-ui/7-practical-tips-for-cheating-at-design-40c736799886